apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  username: YXBwdXNlcg==  # base64 encoded 'appuser'
  password: YXBwcGFzc3dvcmQ=  # base64 encoded 'apppassword'
  rootpassword: cm9vdHBhc3N3b3Jk  # base64 encoded 'rootpassword'
